.movie{
    width:250px;
    height:370px;
    float: left;
    margin: 5px;
}
.movie img{
    width:250px;
    height:370px;
    background: url("http://img.chenyingqiao.top/blog/20200824202651.png");
}
.movie .cover {
    width:250px;
    height:370px;
    line-height: 20px;
    background-color: grey;
    translate: 80%;
    position:relative;
    top: -370px;
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    line-height: 370px;
    font-weight: bold;
    user-select:none;
    display: none;
}

.mao {
    background: inherit;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=9, MakeShadow=false);
}

.movie-content{
    display:flex;
    flex-wrap:wrap;
    align-content:flex-start;
    align-items: center;
    justify-content:center;
}
.search_input{
    width:500px;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

#side {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 250px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu{
    background: black;
}
.menu>a{
    background: black;
    color:white;
    width: 250px;
    text-align: center;
}
.menu>a:hover{
    background: rgb(88, 88, 88);
}

.container-full{
    width: 97%;
    padding-left: 280px;
}